body{
  background-color: #dbcbab;
  width: 95%;
  margin: 10px auto;
  min-height: 1100px;

}
poster{
  position: absolute;
  left: 10px;
  top: 10px;
  height: 300px;
  width: 200px;
  border: solid;
}
#logIn:hover, #addReview:hover{
  background-color: RGB(237,134,150);
}
#logIn:active, #addReview:active{
  background-color: RGB(237,134,150);
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}
movieTitle{
  position: absolute;
  top:10px;
  left: 225px;
  width: 220px;
  height:30px;
  border: solid;
}
releaseYear{
  position:absolute;
  top:10px;
  left: 450px;
  width: 200px;
  height:30px;
  border: solid;
}
rating{
  position: absolute;
  top:320px;
  left:80px;
  width: 60px;
  border: solid;
}
runTime{
  position: absolute;
  top:50px;
  left: 225px;
  width: 220px;
  height:30px;
  border: solid;

}
summary{
  position: absolute;
  top:50px;
  left: 450px;
  width: 420px;
  height: 530px;
  border: solid;
  overflow-y: scroll;

}
genre{
  position: absolute;
  top:90px;
  left: 225px;
  width: 220px;
  height:30px;
  border: solid;
}
director{
  position: absolute;
  top: 130px;
  left: 225px;
  width: 220px;
  height:30px;
  border: solid;
}
writers{
  position: absolute;
  top:170px;
  left: 225px;
  width: 220px;
  height:30px;
  border: solid;
}
actors{
  position: absolute;
  top: 210px;
  left: 225px;
  width: 220px;
  height: 230px;
  border: solid;
  overflow-y: scroll;

}
reviews{
  position: absolute;
  top: 600px;
  left: 10px;
  height: 200px;
  width: 880px;
  border: solid;
  overflow-y: scroll;

}
#addReview{
  position: absolute;
  top:560px;
  left:10px;
  width: 150px;
  height: 25px;
  border-radius:  5px;

}
#logIn{
  position: absolute;
  top:15px;
  left:690px;
  width: 160px;
  height: 25px;
  border-radius:  5px;

}
similarMovies{
  position: absolute;
  top: 810px;
  left: 10px;
  height: 200px;
  width: 880px;
  border: solid;
}
p{
  position: absolute;
  top:1050px;
}
#backToSearch{
  color: black;
}
#backToSearch:hover{
  color: RGB(137,100,150);
}
