doctype html
html(lang = 'en')
  head
    meta(charset = "UTF-8")
    style(type = "text/css"): include ../layouts/HomePageStyle.css
    Title Home Page
  body

    script(src = "../content/searchFunctionality.js", id="script",onload="init()",defer)
    input(type="submit",id="logIn", value="Login/Sign Up")
    h1
    img(src ="./logo.png", alt="You should see the 'logo'")
    #container1
    left
    select#searchCriteria(name='searchCriteria')
      option#Title(value='Title') Title
      option#Person(value='Person') Person
      option#User(value='User') User
      option#Genre(value='Genre') Genre
      option#Rating(value='Rating') Rating
      option#Year(value='Year') Year
    form(autocomplete='off')
      .autocomplete(style='width:100%;')
        input#searchBar.searchBar(type='text' placeholder = "Title...")
    right
    input(type="submit",id="search", value = "Search")
    input(type="submit",id="addMovie", value = "Add Movie")
    input(type="submit",id="addPerson", value = "Add Person")
