doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='../layouts/Login_CreatorStyle.css')
  title Accounts
script(src='../content/loginFunctionality.js' onload='init()' defer='')
left
div
  h1 Login or Create an Account
  textfields
    input#username(type='text' placeholder='Username...')
    input#password(type='password' placeholder='Password...')
  errormsg#errorMsg
  mybtns
    button#login(type='button') Login
    button#createAcc(type='button') Create an Account
  p
    a#backToSearch(href='http://localhost:3000/') Back to Search
