doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='../layouts/AddStyle.css')
  title Add Movie
script#script(src='../content/addMovieFunctionality.js' onload='init()' defer='')
h1 Enter Movie Information
|     Separate multiple entries with a comma (i.e., "Jack Black,Terry Crews")
br
br
|     Minimally, you must enter a movie Title, Director, Writer, and Actor
br
br
|     If you just want to automatically add some random movie, enter an into the &quot;Auto Generate&quot; field
br
br
#bigContainer
  #container1
    left
    p Title:
    input#Title.searchBar(type='text')
    p Actor:
    input#Actor.searchBar(type='text')
    p Writer:
    input#Writer.searchBar(type='text')
    right
  #container2
    left
    p Director:
    input#Director.searchBar(type='text')
    p Release Year:
    input#Year.searchBar(type='text')
    p Summary:
    input#Summary.searchBar(type='text')
    right
  #container3
    left
    p Runtime (in minutes):
    input#Runtime.searchBar(type='text')
    p Genre:
    input#Genre.searchBar(type='text')
    p Auto Generate:
    input#autoGenerate.searchBar(type='text')
    right
br
br
button#addMovie(type='button') Add Movie
br
br
br
#errorMsg
br
a#backToSearch(href='http://localhost:3000/') Back to Search
