doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='../layouts/UserAccountStyle.css')
  title Account
h1 User&apos;s Name
div2
button#logout(type='button') Logout
input#usertype(type='checkbox')
| Contributing User
div1#breakline
#recommended
  h2 Recommended Movies
  ul
    li Some Movie
    li Another Movie
    li One more Movie
#usersfollowing
  h2 Users Followed
  ul
    li  Some Username
    li  Illumaghadie (thats me!)
#resentreviews
  h2 Recent Reviews
  ul
    li  The first rated Movie
    ul
      li 5/10
      li There may be a TON of text here lol
    li  The second rated Movie
    ul
      li 10/10
      li This may have even more text
    li  The third rated Movie
    ul
      li 0/10
      li insert text
#peoplefollowing
  h2 People Followed
  ul
    li  It feels like you only need a single list for this
    li  John Doe
button#stopfollowing(type='button') Stop Following
div1#buttonBreakLine
p
  a#backToSearch(href='http://localhost:3000/') Back to Search
