
body{
  display: flex;
  background-color: #dbcbab;
  max-width: 750px;
  width: 95%
  justify-content: center;
  margin: 10px auto;
  overflow: scroll;
}
left{
  flex: 0 1 20%;
}
div{
    flex: 0 1 60%;
    background: #879BAF;
    border-radius: 12px;
    box-shadow: 0 4px 6px #000;
    min-height: 400px;
    min-width: 400px;
    height: calc(100vh - 200px);
}
h1{
  display: flex;
  font-size: 24pt;
  justify-content: center;
}
textFields{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;

}
#username{
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 15pt;
  height: 50px;
  padding-left: 10px;
}

#password{
  margin-top: 20px;
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15pt;
  height: 50px;
  padding-left: 10px;
  

}
myBtns{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 20px;
  justify-content: center;
}
#login:hover, #createAcc:hover{
  background-color: RGB(237,134,150);
  cursor: pointer;
}
#login:active, #createAcc:active{
  background-color: RGB(237,134,150);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
#login{
  background-color: lightgrey;
  border: 1px solid;
  font-size: 13pt;
  border-radius: 5px;
  background-color: #ed865c;
  height: 40px;
}
#createAcc{
  background-color: lightgrey;
  border: 1px solid;
  font-size: 13pt;
  border-radius: 5px;
  margin-top: 40px;
  background-color: #ed865c;
  height: 40px;
}
::placeholder{
  color: black;
}
p{
  text-align:center;
}
#backToSearch{
  color: black;
}
#backToSearch:hover{
  color: RGB(137,100,150);
}
#errorMsg{
  display: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border: solid;
  border-color: RGB(200,0,0);
  background: RGB(247,217,218);
  color: black;
  border-radius: 5px;
}
