body{
  background-color: #dbcbab;
  width: 95%;
  margin: 10px auto;

}
#row1, #row2, #row3{
  display:flex;
  flex-direction: row;
}
.eachItem{
  flex-direction: row;
  width: 20%;
}
#someHeader{
  margin-bottom: 0px;
}
#container1{
  display:flex;
  flex-direction: column;
}
#breakContainer{
  display:flex;
  flex-direction: column;
  width: 100px;
}
#container2{
  display:flex;
  flex-direction: column;
}
#container3{
  display:flex;
  flex-direction: column;
}
img{
  height: 300px;
  width: 200px;
  position: flex;
  display: block;
  float: left;
}
#logIn:hover, #addReview:hover, #addPerson:hover{
  background-color: RGB(237,134,150);
}
#logIn:active, #addReview:active, #addPerson:active{
  background-color: RGB(237,134,150);
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}
#addReview:disabled, #addPerson:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
movieTitle{
  position: flex;
  float: left;
  display: block;
  flex: 0 1 10%;
  width: 220px;
  height:30px;
  margin-left: 10px;
}
releaseYear{
  position:flex;
  display: block;
  margin-left: 10px;
  margin-top: 30px;
  flex: 0 1 10%;
  width: 200px;
  height:30px;
}
rating{
  position: flex;
  float: left;
  display: block;
  flex: 0 1 10%;
  margin-top: 10px;
  top:320px;
  left:80px;
  width: 220px;
}
runTime{
  position: flex;
  float: left;
  display: block;
  flex: 0 1 10%;
  margin-left: 10px;
  margin-top: 30px;
  width: 220px;
  height:30px;
}
summary{
  position: flex;
  display: block;
  flex: 0 1 10%;
  margin-left: 10px;
  width: 250px;
  height: 530px;
}
genre{
  position: flex;
  float: left;
  flex: 0 1 15%;
  margin-left: 10px;
  margin-top: 30px;
  width: 220px;
  height:30px;
  overflow-y:scroll;
}
director{
  position: flex;
  text-decoration: none;
  float: left;
  margin-left: 10px;
  margin-top: 30px;
  flex: 0 1 10%;
  width: 220px;
  height:30px;
}
writers{
  position: flex;
  float: left;
  flex: 0 1 20%;
  margin-left: 10px;
  margin-top: 30px;
  width: 220px;
  height:30px;
  overflow-y: scroll;
}
actors{
  position: flex;
  float: left;
  flex: 0 1 30%;
  margin-left: 10px;
  margin-top: 30px;
  width: 220px;
  height: 230px;
  overflow-y:scroll;

}
.reviews{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 200px;
  margin-top: 10px;
  overflow: auto;
  border: solid;
  background: white;

}
.secondList{
  margin-left: -40px;
}
.firstList{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  min-width: 200px;
  max-width: 200px;
  border-right:solid;
}
#addReview{
  position: flex;
  float: left;
  flex-wrap: wrap;
  flex: 0 1 100%;
  margin-left: 10px;
  margin-top: 10px;
  max-width: 150px;
  height: 25px;
  border-radius:  5px;
}
#addPerson{
  position: flex;
  float: left;
  flex-wrap: wrap;
  flex: 0 1 100%;
  margin-left: 10px;
  margin-top: 10px;
  max-width: 150px;
  max-height: 25px;
  border-radius:  5px;
}
#logIn{
  position: flex;
  float:right;
  flex: 0 1 10%;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 160px;
  max-height: 25px;
  border-radius: 5px;

}
similarMovies{
  position: flex;
  display: block;
  flex: 0 1 10%;
  margin-left: 10px;
  margin-top: 10px;
  min-height: 400px;
  max-height: 400px;
  width: 250px;
  height: 530px;
  border: solid;
  overflow: scroll;
}
p{
  position: flex;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
#backToSearch{
  color: black;
}
#backToSearch:hover{
  color: RGB(137,100,150);
}
#posterImg{
  max-height: 175px;
  max-width: 125px;
}

li{
  list-style-type: none;
}
a:link{
  text-decoration: none;
  color: black;
}
a:hover{
  color: blue;
}
